@font-face {
  font-family: "font_regular";
  src: url("./fonts/NanumSquareNeoOTF-Rg.otf");
}

@font-face {
  font-family: "font_bold";
  src: url("./fonts/NanumSquareNeoOTF-Bd.otf");
}

@font-face {
  font-family: "font_extraBold";
  src: url("./fonts/NanumSquareNeoOTF-Eb.otf");
}

body {
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-family: "font_regular";
}

h3 {
  font-family: "font_extraBold";
}

.headerStyle {
  background-color: #E6DEF6;
  height: 70px;
  display: flex;
  justify-content: center;
  color: #613EA6;
  letter-spacing: 2px;
  font-family: "font_extraBold";
}

.section {
  width: 1200px;
  transition: width 0.5s ease;
  border: 1px solid black;
}

@media screen and (max-width: 1200px) {
  .section {
    width: 800px;
  }
}

.writeBox {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

input {
  height: 25px;
  padding-left: 10px;
  margin: 10px;
  margin-right: 35px;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
}

button {
  width: 100px;
  height: 30px;
  background-color: #E6DEF6;
  border: 0px;
  border-radius: 5px;
  margin: 5px;
  font-family: "font_bold";
}

.button-with-click-effect {
  transition: transform 0.2s ease-in-out;
}

.button-with-click-effect:active {
  transform: translateY(2px) translateX(2px);
}

.nowWorking, .done {
  background-color: #ffffff;
  padding: 35px;
  width: 100%;
  box-sizing: border-box;
}

.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.todoCard {
  background-color: #EFFFFB;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgb(210, 209, 212);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

hr {
  border: 0;
  height: 1px;
  background-color: #E0E0E0;

}

.showTitle {
  font-weight: bold;
  font-size: 15pt;
  margin-bottom: 10px;
}

.showMemo {
  padding-bottom: 30px;
}